.header_app{
    position: relative;
    z-index: 1000000;
    background-color:  transparent;
    border-bottom: 1px solid rgb(185, 185, 185);
}
.nav_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.header_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
    color: black;
}
.header_logo:hover{
    color: black;
}
.header_logo>h1{
    font-size: 40px;
    font-style: italic;
}
.icon_logo{
    align-self: flex-end;
}
.search_cart{
    display: flex;
    justify-content: flex-end;
    gap:18px;
    margin-top: 5px;
    padding: 15px 0;
    padding-right: 60px;
    cursor: pointer;
}
.cart_home>.cart_icon{
    margin-right: 10px;
}
.nav_link{
    text-decoration: none;
    color: black;
    outline: none;
}
.link{
    display: flex;
    gap: 20px;
}
.nav_link:hover{
    color: black;
    font-weight: 700;
}

.bg_home-first{
    position: relative;
    top: -110px;
    background-image: url('https://wallpapercave.com/wp/wp2153676.jpg');
    height: 1000px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: show_bg ease-in-out 1.5s;
}
.bg_home-sec{
    position: relative;
    top: -30px;
    background-image: url('https://wallpapercave.com/dwp1x/wp2153640.jpg');
    height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: show_bg ease-in-out 2s;
}
.header_app:hover{
   background-color: white;
}
@keyframes change_bgColor{
    from{
        background-color: transparent;
    }
    to{
        background-color: white;
    }
}
@keyframes show_bg{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.category_item{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap:15px;
       margin-top: 10px; 
}
.category_list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.footer_home{
    background-color: #e0e2e4;
    padding-bottom: 30px;
}
.footer{
    margin-top: 50px;
}
.more{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.contact{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.contact_icon{
    opacity: 0.9;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.side_cart{
    height: 100%;
    width: 350px;
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(100%);
    z-index: 2000000;
}
.show_side-cart{
    height: 100%;
    width: 350px;
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    animation: show_side-cart ease-in-out 0.5s;
    z-index: 2000000;
}
@keyframes show_side-cart{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes close_side-cart{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
    }
}
.cart_home-sidebar{
    margin-left: 40px;
}
.side_cart-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #E0E2E4;
    padding : 15px 0;
}
.close_sidebar{
    margin-right: 30px;
    font-size: 20px;
    cursor: pointer;
}
.display-none{
    display: none;
}
.link-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.link-item:hover h1{
    color: black;
}